/*Cards*/

h3{
    margin-bottom: 30px;
}
.galeria{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
    margin-top: 40px;
    .item{
        text-align: center;
        background-color: rgb(250, 249, 249);
        border:1px solid gray;
        color:rgb(0, 0, 0);
        width: 450px; 
        height:400px;
           
        }
    }
    .TituloItem{
        color:rgb(0, 0, 0);
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .imagenItem{
        width: 400px;
        height: max-content;
        margin-top: 5px;
       
    }
    
p{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a{
    
    color: red;
    text-decoration: none;
}
@media only screen and (max-width: 400px) {

.galeria{
    gap: 0px;
    .item{
        width: 300px;
        height: auto;
    }
}
.imagenItem{
    width: 280px;
}
}